body {
    background-color: black;
    color: white;
}

input[type="number"] {
    text-align: right;
    width: 8em;
}

#main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

#graph {
    width: 100%;
    height: 500px;
}

#code-area {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 100px;
    padding: 1em;
    border: thin solid lightgrey;
    background-color: black;
    color: white;
}

label[for="code-area"] {
    margin-bottom: 0.2em;
}

#controls {
    margin: 2em 0 1em;
    width: 22em;
}

#controls div.control {
    display: flex;
    justify-content: space-between;
}

#controls div.control>label {
    margin-right: 1em;
}

#controls div.control.space-before {
    margin-top: 0.5em;
}

#btn-submit {
    cursor: pointer;
    padding: 0.5em;
    margin-top: 1em;
    width: 8em;
    align-self: flex-end;
    color: white;
    background-color: #222222;
    border: thin solid lightgray;
    border-radius: 3px;
    transition: all 0.05s;
}

#btn-submit:hover {
    background-color: #333333;
    box-shadow: 0 0 10px 1px #999999;
}